.tornado-like{margin-left: 500px;
    padding: 20px 20px; background-color: rgb(16, 16, 223);
    width: 800px; height: 500px;
    border-radius: 7999px;}
    .t{background-color: blue; border-radius: 399px;}
    .rat{background-color: blue;}
    .e{background-color: blue;}
    .d{background-color: blue;}
    .tona{margin-left: 500px;
        padding: 20px 20px; background-color: rgb(12, 8, 249);
        width: 800px; height: 500px;
        border-radius: 8000px;}
        h1{color: bisque;}
        